@import url('https://fonts.googleapis.com/css?family=Spectral');

body {
  cursor: default;
  font-size: .975rem;
}

.spectral {
  font-family: 'Spectral', serif;
}

::-moz-selection {
  background: #357edd;
  color: white;
}

::selection {
  background: #357edd;
  color: white;
}

.sitelink {
  cursor: pointer;
  transition: all .1s !important;
}

.sitelink:active,
.sitelink:focus,
.sitelink:hover {
  background: #357edd;
  color: white;
}

.rectbody {
  float: left;
}

.rectbody h3 {
  margin: 1.5rem 0 .8rem 0;
  line-height: 1.25;
}

.projects .rectbody {
  padding-bottom: 1.5rem;
}

.projects ul {
  padding-left: 20px;
}

@media screen and (min-width: 50em) {
  .projects ul {
    padding: 0
  }

  .projects .rectbody {
    width: 50%;
    height: 140px;
    padding-bottom: 0;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
  }

  .projects .rectbody:nth-child(even) {
    padding-left: 1.5rem;
  }

  .projects .rectbody:nth-child(odd) {
    padding-right: 1.5rem;
  }
}
