@import url('https://fonts.googleapis.com/css?family=Spectral');

body {
  cursor: default;
}

.spectral {
  font-family: 'Spectral', serif;
}

::-moz-selection {
  background: #357edd;
  color: white;
}

::selection {
  background: #357edd;
  color: white;
}

.sitelink {
  cursor: pointer;
  transition: all .1s !important;
}

.sitelink:active,
.sitelink:focus,
.sitelink:hover {
  background: #357edd;
  color: white;
}
